body {
    background-image: url("/assets/images/createUser.jpg");
}

.event:nth-of-type(odd) {
    background-color: #ccc;
}

.event-body {
    padding: 15px;
}

.event-title {
    font-size: 20px;
    font-weight: bold;
}

.event-loading {
    text-align: center;
    padding: 15px;
}

.reload-events {
    margin-top: 10px;
}

.create-user-form {

}

.categories {
    margin-top: 10px;
    border: 0px solid #fff;
    padding: 1px;
    border-radius: 4px;
    width: 100% !important;
}