.event:nth-of-type(odd) {
    background-color: #ccc;
}

.event-body {
    padding: 15px;
}

.event-title {
    font-size: 20px;
    font-weight: bold;
}

.event-loading {
    text-align: center;
    padding: 15px;
}

.reload-events {
    margin-top: 10px;
}