<link href=' @routes.WebJarAssets.at(WebJarAssets.locate("css/bootstrap.min.css"))' rel='stylesheet' >
<script src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))' type='text/javascript' ></script>
<div class="wrapper">

  <section id="support" class="doublediagonal">
    <div class="container">
      <div class="section-heading scrollpoint sp-effect3">
        <h1>Support</h1>
        <div class="divider"></div>
        <p>For more info and support, contact us!</p>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-8 col-sm-8 scrollpoint sp-effect1">
              <form role="form">
                <div class="form-group">
                  <input type="text" placeholder="Event Name" class="form-control">
                </div>
                <div class="form-group">
                  <input type="text" placeholder="Location" class="form-control">
                </div>
                <div class="form-group">
                  <input type="text" placeholder="Start time dd/MM/yyyy/ hh:mm:ss " class="form-control">
                </div>
                <div class="form-group">
                  <input type="text" placeholder="End time dd/MM/yyyy/ hh:mm:ss" class="form-control">
                </div>
                <div class="form-group">
                  <input type="text" placeholder="External link" class="form-control">
                </div>
                <div class="form-group">
                  <textarea cols="30" rows="10" placeholder="Description" class="form-control"></textarea>
                </div>
                <button type="submit" class="btn btn-primary btn-lg">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  @*<footer>*@
    @*<div class="container">*@
      @*<a href="#" class="scrollpoint sp-effect3">*@
        @*<img src="img/berry/logo.png" alt="" class="logo">*@
      @*</a>*@
      @*<div class="social">*@
        @*<a href="#" class="scrollpoint sp-effect3"><i class="fa fa-twitter fa-lg"></i></a>*@
        @*<a href="#" class="scrollpoint sp-effect3"><i class="fa fa-google-plus fa-lg"></i></a>*@
        @*<a href="#" class="scrollpoint sp-effect3"><i class="fa fa-facebook fa-lg"></i></a>*@
      @*</div>*@
      @*<div class="rights">*@
        @*<p>Copyright © 2014</p>*@
        @*<p>Template by <a href="http://www.scoopthemes.com" target="_blank">ScoopThemes</a></p>*@
      @*</div>*@
    @*</div>*@
  @*</footer>*@

</div>