    @import helper._
    @(eventForm: play.data.Form[models.database.Event])(locations: java.util.List[models.database.Location])

    <script src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))' type='text/javascript' ></script>

    <link rel="stylesheet" href="//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/a549aa8780dbda16f6cff545aeabc3d71073911e/build/css/bootstrap-datetimepicker.css">
    <script src="//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/a549aa8780dbda16f6cff545aeabc3d71073911e/src/js/bootstrap-datetimepicker.js">
            <
            link
            href = ' @routes.WebJarAssets.at(WebJarAssets.locate("css/bootstrap.min.css"))'
            rel = 'stylesheet' >
                    < script
            src = '@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))'
            type = 'text/javascript' ></script>
    <link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/main.css")'>
    <script src='@routes.Assets.versioned("javascripts/time.js")' type='text/javascript'></script>
    @*<div class="background-image"></div>*@
    @main("Create Event") {
        <div class="frame">
            <div class="alpha">
                <div class="wrapper">

                    <section id="support" class="doublediagonal">
                        <div class="container">
                            <div class="form"></div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="row">{
                                        <div class="scrollpoint sp-effect1">
                                        @form(routes.EventController.createEvent, 'class -> "form-horizontal") {
                                            <div class="form-group col-xs-12">
                                                <div class="col-xs-12">
                                                    <input type="text"
                                                    placeholder="Event Name"
                                                    class="form-control"
                                                    name="name">
                                                </div>
                                            </div>
                                            <div class="form-group col-xs-12">
                                                <div class="col-xs-12">
                                                    <input type="text" placeholder="Location" class="form-control" name="location">
                                                </div>
                                            </div>
                                            <div class="container">
                                                <div class='col-xs-12'>
                                                    <div class="form-group">
                                                        <div class='input-group date' id='datetimepicker6'>
                                                            <input type='text' placeholder="Start time dd/MM/yyyy/ hh:mm:ss " class="form-control" />
                                                            <span class="input-group-addon">
                                                                <span class="glyphicon glyphicon-calendar"></span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class='col-xs-12'>
                                                    <div class="form-group">
                                                        <div class='input-group date' id='datetimepicker7'>
                                                            <input type='text' placeholder="End time dd/MM/yyyy/ hh:mm:ss " class="form-control" />
                                                            <span class="input-group-addon">
                                                                <span class="glyphicon glyphicon-calendar"></span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            @*<div class="form-group col-xs-12">*@
                                            @*<div class="col-xs-12">*@
                                            @*<input type="text" placeholder="Start time dd/MM/yyyy/ hh:mm:ss " class="form-control" name="startTime">*@
                                            @*</div>*@
                                            @*</div>*@
                                            @*<div class="form-group col-xs-12">*@
                                            @*<div class="col-xs-12">*@
                                            @*<input type="text" placeholder="End time dd/MM/yyyy/ hh:mm:ss" class="form-control" name="endTime">*@
                                            @*</div>*@
                                            @*</div>*@
                                            <div class="form-group col-xs-12">
                                                <div class="col-xs-12">
                                                    <input type="text" placeholder="External link" class="form-control" name="externalLink">
                                                </div>
                                            </div>
                                            <div class="form-group col-xs-12">
                                                <div class="col-xs-12">
                                                    <textarea cols="30" rows="10" placeholder="Description" class="form-control" name="description"></textarea>
                                                </div>
                                            </div>
                                            <form id="select2Form" method="post" class="form-horizontal">
                                                <div class="form-group col-xs-12">
                                                    <div class="col-xs-12">

                                                        <div class="col-xs-12">
                                                            <select name="beaconLocations[]" class="form-control select2-select"
                                                            multiple data-placeholder="Choose beacon locations">
                                                                <option value="1">Marston</option>
                                                                <option value="2">Cise</option>
                                                                <option value="4">Hub</option>
                                                            </select>
                                                        </div>
                                                        @*<select name="beaconLocations[]" multiple="multiple">*@
                                                        @*<select class="js-example-basic-multiple" multiple="multiple">*@
                                                        @*<option value="1">1</option>*@
                                                        @*<option value="2">2</option>*@
                                                        @*<option value="4">4</option>*@
                                                        @*</select>*@
                                                    </div>
                                                </div>
                                            </form>
                                            <form id="select2Form" method="post" class="form-horizontal">
                                                <div class="form-group col-xs-12">
                                                    <div class="col-xs-12">

                                                        <div class="col-xs-12">
                                                            <select name="Category[]" class="form-control select2-select"
                                                            multiple data-placeholder="Choose Category">
                                                                <option value="food">food</option>
                                                                <option value="play">play</option>
                                                                <option value="drinks">drinks</option>
                                                                <option value="hackathon">hackathon</option>
                                                                <option value="lecture">lecture</option>
                                                                <option value="football">football</option>
                                                                <option value="computer science">computer science</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                            <div class="form-group col-xs-8">
                                                <div class="col-xs-12"></div>
                                                <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                                            </div>
                                        }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                </div>
            </div>
        </div>



            <!-- Include Select2 CSS -->
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.0/select2.min.css" />

            <!-- CSS to make Select2 fit in with Bootstrap 3.x -->
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.0/select2-bootstrap.min.css" />

            <!-- Include Select2 JS -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.0/select2.min.js"></script>






        <script type="text/javascript">
                $('select').select2();
        </script>



        <script type="text/javascript">
                $(function () {
                    $('#datetimepicker6').datetimepicker();
                    $('#datetimepicker7').datetimepicker({
                        useCurrent: false //Important! See issue #1075
                    });
                    $("#datetimepicker6").on("dp.change", function (e) {
                        $('#datetimepicker7').data("DateTimePicker").minDate(e.date);
                    });
                    $("#datetimepicker7").on("dp.change", function (e) {
                        $('#datetimepicker6').data("DateTimePicker").maxDate(e.date);
                    });
                });
        </script>

        }
    }