@main("Create User") {
    <div class="item">
        @*<img src="@routes.Assets.versioned("images/createUser.jpg")" alt="">*@
        <div class="container create-user-outer">
            <div class="row create-user-form">
                @*<h1>Register</h1>*@
                <div class="form-group col-xs-12 create-user-inner">
                    <p class="lead">Welcome to SmartCampus!</p>
                    <p class="lead">Signup now!</p>
                    <input type="text" class="form-control" id="userName" placeholder="Name" required="">
                    <form id="select2Form" method="post" class="form-horizontal">
                        <div class="form-group">
                            <select name="Categories" class="form-control select2-select"
                            multiple data-placeholder="Categories">
                                <option value="food">food</option>
                                <option value="play">play</option>
                                <option value="lecture">lecture</option>
                            </select>
                        </div>
                    </form>
                    <a class="btn btn-large btn-primary" href="#">Submit</a>
                </div>
            </div>
        </div>
    </div>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.0/select2.min.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.0/select2-bootstrap.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.0/select2.min.js"></script>
    <script type="text/javascript">
            $('select').select2();
    </script>
}