@import java.util._

@import models.database._
@(events: List[Event])



@main("Events List") {
    @for(event <- events) {
        <div class="col-xs-12 event">
            <div class="event-body">
                <div class="event-title">@event.getName</div>
                <div class="">
                @for(category <- event.getCategories) {
                    <span class="label label-success">@category</span>
                }
                </div>
                <div class="event-description">@event.getDescription</div>
            </div>
        </div>
    }
}

