@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@
@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        @* Here's where we render the page title `String`. *@
        <title>@title</title>
        <link href=' @routes.WebJarAssets.at(WebJarAssets.locate("css/bootstrap.min.css"))' rel='stylesheet' >
        <script src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))' type='text/javascript' ></script>
        <script src="@routes.Assets.versioned("javascripts/hello.js")" type="text/javascript"></script>
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/main.css")">
    </head>
    <body>
        @*<div class="text-success">fkhbvs.kjfbvas.kbv</div>*@
        @* And here's where we render the `Html` object containing
         * the page content. *@
        @content
        <div class="container">
            <div class="row">
                <div class="col-xs-12 event">
                    <div class="event-body">
                        <div class="event-title">E1</div>
                        <div class="event-description">New event 1</div>
                    </div>
                </div>
                <div class="col-xs-12 event">
                    <div class="event-body">
                        <div class="event-title">E2</div>
                        <div class="event-description">New event 2</div>
                    </div>
                </div>
                <div class="col-xs-12 event">
                    <div class="event-body">
                        <div class="event-title">E3</div>
                        <div class="event-description">New event 3</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <button type="button" class="btn btn-primary" style="margin-top: 10px;" onclick="window.location.reload()">Reload</button>
            </div>
        </div>
    </body>
</html>
